body {
  background-color: #E2DDD5;
}

img {
  width: 300px;
  height: 200px;
}

.animals {
  width: 25%;
  float: left;
  margin-left: 5%;
}

.animals p, img, h3 {
  text-align: center;
  margin-left: 10%;
  color: #ffffff;
}

#one {
  background-color: #705B59;
}

#two {
  background-color: #7D937C;
}

#three {
  background-color: #683742;
}
