@media screen and (max-width: 480px) and (min-width: 300px) {
  .column {
    float: none !important;
    width: auto !important;
  }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {

  body {
    background-color: red;
  }

  .column {
    padding: 20px;
    float: none !important;
    width: auto !important;
  }
}

body {
  background-color: #E2DDD5;
}

img {
  width: 300px;
  height: 200px;
}

.animals {
  width: 25%;
  float: left;
  margin-left: 5%;
}

.animals p, img, h3 {
  text-align: center;
  margin-left: 10%;
  color: #ffffff;
}

#one {
  background-color: #705B59;
}

#two {
  background-color: #7D937C;
}

#three {
  background-color: #683742;
}
